/*
*
*  Include all css for admin views
*
*/

form#manm-update {
    display: flex;
    justify-content: center;
}

#manm-admin {
    position: relative;
    width: 100%;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
    text-align: left;
    color: #626262;
    font-size: 14px;
    padding: 20px;
  }
  #manm-admin *[contentEditable="true"]:hover {
    outline: 1px solid #2276d2;
  }
  
  #manm-admin ul,
  #manm-admin ol {
    padding-left: 20px;
  }
  #manm-admin ul {
    list-style: disc;
  }
  #manm-admin ol {
    list-style: decimal;
  }
  #manm-admin a {
    text-decoration: underline;
  }
  #manm-admin textarea {
    display: none;
  }
  #manm-admin .dfree-change {
    padding: 20px;
    padding-top: 0px;
  }
  #manm-admin .dfree-change p {
    margin-bottom: 10px;
  }
  #manm-admin .dfree-change blockquote {
    margin-left: 30px;
    padding-left: 10px;
    margin-right: 40px;
    font-style: italic;
    border-left: 1px solid #696969;
  }
  #manm-admin .dfree-change a {
    text-decoration: underline;
  }
  #manm-admin .dfree-change td,
  #manm-admin .dfree-change tr {
    border: 1px solid #696969;
  }
  
  